CompileFlags:
  Add: 
  - -std=c23
  - -Wall
  - -Wextra
  - -pedantic
  - -Wshadow
  - -Wconversion
  - -Wsign-conversion

Diagnostics:
  ClangTidy:
    Add:
      - performance-*

Completion:
  AllScopes: true
