layout {
  gaps 8 // Gap between windows
  center-focused-column "never" // Don’t auto-center focused column

  background-color "transparent" // <- needed for noctalia-shell to set wallpaper

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 2
    active-color   "#b7bdf8"
    inactive-color "#24273a"
    urgent-color   "#ed8796"
  }

  border {
    active-color   "#b7bdf8"
    inactive-color "#24273a"
    urgent-color   "#ed8796"
  }

  shadow {
    color "#18192670"
  }

  tab-indicator {
    active-color   "#b7bdf8"
    inactive-color "#031af9"
    urgent-color   "#ed8796"
  }

  insert-hint {
    color "#b7bdf880"
  }
  
  struts {}
}

recent-windows {
  highlight {
    active-color "#b7bdf8"
    urgent-color "#ed8796"
  }
}

