layout {
  gaps 8 // Gap between windows
  center-focused-column "never" // Don’t auto-center focused column

  background-color "transparent" // <- needed for noctalia-shell to set wallpaper

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 2
    active-color   "#76946a"
    inactive-color "#1f1f28"
    urgent-color   "#c34043"
  }

  border {
    active-color   "#76946a"
    inactive-color "#1f1f28"
    urgent-color   "#c34043"
  }

  shadow {
    color "#1f1f2870"
  }

  tab-indicator {
    active-color   "#76946a"
    inactive-color "#21321a"
    urgent-color   "#c34043"
  }

  insert-hint {
    color "#76946a80"
  }
  
  struts {}
}

recent-windows {
  highlight {
    active-color "#76946a"
    urgent-color "#c34043"
  }
}

