*.log
.config/btop/btop.conf
.config/fish/completions
.config/fish/functions
.config/fish/themes
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/conf.d
.config/yazi/theme.toml-1748626958804974
.config/yazi/yazi.toml-1748626958795619
.config/kitty/kitty.conf.bak
*.uuid
